  /* Interns: Add your CSS here */

        * { 
            margin: 2px;
            padding: 0;
            box-sizing: border-box;
            /* border:1px solid black; */
            ;
        }

body {
    /* background-color: linear-gradient(135deg, #f8fafc, #e2e8f0); */
    /* background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat; */
    background:#EBF0F5;
    min-height: 100vh;
    font-family: sans-serif;
    color: #0f172a;

}
body.dark-theme{
    background-color: #0D131F;
    color: #eee;
}


.container { 
    max-width: 70%; 
    margin: 0 auto; 
    padding: 10px; 
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap:10px;


}

#top{
    
   background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
body.dark-theme #top{
    background-color: #182533;
    border-radius: 16px; /* Based on the rounded corners in your image */
    /* Add a subtle border if needed */
    border: 1px solid rgba(255, 255, 255, 0.05);
}
#header-name{
    display: flex;
    flex-direction: row; 
}
.theme-toggle{
    
    display:flex;
    flex-direction: row;
    max-width: 50px;
    border-radius: 16px;
}
.themeBtn{
    background-color: #fff;
    width:50px;
    height: 50px;;
    font-size: 25px;
    border-radius: 50%;
    border:1px solid rgb(156, 154, 154);
}
body.dark-theme .themeBtn{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.search-section{
    background:rgb(247, 247, 255);
    border-radius: 12px;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    padding:15px;

}
body.dark-theme .search-section{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#cityInput{
    background: white;
    backdrop-filter: blur(8px);   /* blurred transparency */
    border-radius: 12px;
    padding: 20px;
    height:30px;
    width:200px;
    border-radius: 10px;
    padding:5px;
    border:1px solid rgb(156, 154, 154);
    width:65%;
    height:40px;
}
body.dark-theme #cityInput{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color:#fff
}
/* Hover State */
#cityInput:hover {
    border-color: #3B71F3;     /* Changes border to your Search button blue */
    box-shadow: 0 0px 8px rgba(59, 113, 243, 0.65); /* Adds a subtle blue shadow */
}
body.dark-theme #cityInput:hover{
    border:none;
    box-shadow: none;

}

/* Focus State (When the user clicks inside to type) */
#cityInput:focus {
    outline-color:  #3B71F3;
    border-color: #3B71F3;
    box-shadow: 0px 0px 12px rgba(59, 113, 243, 0.6); /* Stronger glow when active */
}
#searchBtn{
    background:#3B71F3;
    padding:5px;
    border-radius: 10px;
    border:none;
    color:white;
    width:25%;
    height:40px;
}
#searchBtn:hover{
    background:#4f7eec;
}
.weather-card{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);   /* blurred transparency */
    border-radius: 12px;
    padding: 20px;
    width:100%;
    height:400px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    color:white;
    
}
body.dark-theme .weather-card{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.wheather-details-container{
    display: flex;
    justify-content:space-between;
}
.bi-heart-fill{
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
    
}
.bi-heart-fill.active {
  color: #e63946;
}
#temprature-box{
    width:100%;
    height: 150px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#temprature{
    font-size: 550%;
}
#weather-card-sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 110px;
    background: rgba(30, 30, 30, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}
.wheather-details-sub-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.sub-weather-card{
    border-left:1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);   /* blurred transparency */
    border-radius: 12px;
    padding: 20px;
    color:red;
    border-color:red;
    box-shadow: red;
    text-shadow: #e63946;
    display:none;
}
.day-section{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);   /* blurred transparency */
    border-radius: 12px;
    padding: 20px;
}
body.dark-theme .day-section{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
#five-days{
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body.dark-theme .days{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.days{
        height:250px;
        width:20%;
        border-radius: 10px;
        border:1px solid rgb(255, 255, 255);
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        background-color: rgba(255, 254, 254, 0.6);
        border-radius: 25px;
        backdrop-filter: blur(15px);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        margin: 20px auto;

}
.days:hover{
    transform: translateY(-10px);
    border-color: #3B71F3;     /* Changes border to your Search button blue */
    box-shadow: 0 0px 8px rgba(59, 113, 243, 0.65); 
}
.icon-temp{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.favorites-section{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);   /* blurred transparency */
    border-radius: 12px;
    padding:10px;
}
body.dark-theme .favorites-section{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
#favoritesList{
    
    border-radius: 10px;
    display:flex;
    gap:10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:10px;
    margin:10px;
    
    padding: 20px;
}
#favoritesList.dark-theme{
    color: #E3F2FD;
}
#favoritesList button{
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(188, 186, 186);
    border-radius: 25px;
    backdrop-filter: blur(15px);
    margin: 20px auto;
    border-radius:10px;

}
body.dark-theme #favoritesList button{
    background-color: #182533;
    border: 1px solid rgba(255, 255, 255, 0.05);
    color:#eee;

}

.card-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.25);

    z-index: 100;
}

.card-loader.active{
    display: flex;
}
.card-loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.25);

    z-index: 100;
}

.card-loader.active{
    display: flex;
}
@media (max-width: 768px) {

    .days{
        width: 150px;
    }
    #favoritesList button{
        width:100%;
    }
    .container{
        max-width:100%
    }

}
@media (max-width: 1100px) {

    .days{
        width: 40%;
    }
    #favoritesList button{
        width:100%;
    }
    .container{
        max-width:100%
    }

}
